max_steps = 150

[model]
name = "willcb/Qwen3-4B"

[model.ac]
freq = 1

[model.experimental.lora]
rank = 16
alpha = 32
dropout = 0.0
target_modules = [
    "q_proj",
    "k_proj",
    "v_proj",
    "o_proj",
    "gate_proj",
    "up_proj",
    "down_proj"
]
modules_to_save = [
    "embed_tokens",
    "norm",
    "layernorm",
    "lm_head$"
]

[optim]
lr = 1e-5

[ckpt]
interval = 10